In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)
## creating a data frame with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [4]:
class_0=pd.DataFrame({
'feature_0':np.random.normal(loc=0,scale=1,size=n_class_0),
'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
'target':[0]*n_class_0

})

In [6]:
class_1=pd.DataFrame({
'feature_0':np.random.normal(loc=2,scale=1,size=n_class_1),
'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
'target':[1]*n_class_1

})

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.tail()

     feature_0  feature_1  target
995   3.754312   2.519677       1
996   1.282109   0.423376       1
997   1.176808   2.398328       1
998   3.535918   1.888590       1
999   3.307740   2.060793       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Down Sampling

In [10]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [11]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
from sklearn.utils import resample

df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [14]:
df_minority_upsampled.shape

(900, 3)

In [15]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [17]:
df_upsampled=pd.concat([df_minority_upsampled,df_majority])

In [21]:
df_upsampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64