## importing sql and connecting it to a sqlite database

In [2]:
import sqlite3
connection =sqlite3.connect('practice.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
      create table if not exists Account(
               id Integer primary key,
               name text not null,
               account_no Integer,
               balance Integer
               
               )

''')

In [5]:
## committing the changes
connection.commit()

In [6]:
## inserting the values under the database

cursor.execute('''Select * from Account''')

In [10]:
cursor.execute('''
      Insert Into Account (name, account_no,balance)
                  values('aftab',354485,500)
                
''')
cursor.execute('''
      Insert Into Account (name, account_no,balance)
                  values('sameer',11010,1500)
                
''')
cursor.execute('''
      Insert Into Account (name, account_no,balance)
                  values('tanweer',854311,2500)
                
''')
connection.commit()

In [14]:
cursor.execute(' Select * from Account ')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'aftab', 354485, 500)
(2, 'sameer', 11010, 1500)
(3, 'tanweer', 854311, 2500)

In [17]:
## updating the data from account
cursor.execute('''
      UPDATE Account
               set balance=3000
               where name='aftab'


''')
cursor.execute('''
      UPDATE Account
               set balance=5000
               where name='sameer'


''')

In [18]:
cursor.execute(' Select * from Account ')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'aftab', 354485, 3000)
(2, 'sameer', 11010, 5000)
(3, 'tanweer', 854311, 2500)